html, body {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
}

.body__general {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 0;
    background: #E5E5E5;
    color: #212121;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
}

.container__content {
    max-width: 1170px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    /*cursor: pointer;*/
}

ul {
    list-style-type: none;
    padding: 0;
}

/*Шапка*/
.header__content {
    background: #FFFFFF;
    border-bottom: 1px solid #ECECEC;
}

.header__box {
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
}

.header__navigation {
    display: inherit;
    column-gap: 93px;
}

.header__navigation__logo {
    display: inline-block;
    font-family: 'Oleo Script', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 36px;
    letter-spacing: 0.03em;
    color: #212121;
    transition: all 0.5s;
}

.header__navigation__logo__prefix {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    line-height: 31px;
    color: #2196F3;
}

.header__navigation__logo:hover {
    transform: scale(1.3);
}

.header__navigation__list {
    display: flex;
    align-items: center;
    column-gap: 50px;
}

.header__navigation__list__item {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}

.header__navigation__list__item__link {
    font-weight: bold;
    color: #212121;
}

.header__navigation__list__item__link:focus {
    color: #188ce8;
    cursor: pointer;
}

.header__navigation__list__item__link:hover {
    color: #2196F3;
    cursor: pointer;
}

.header__contacts {
    display: flex;
    align-items: center;
    column-gap: 50px;
}

.header__email,
.header__telephone {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #757575;
}

.header__email:focus,
.header__telephone:focus {
    color: #188ce8;
}

.header__email:hover,
.header__telephone:hover {
    font-weight: bold;
    color: #2196F3;
}

/*Контент*/
.main__content {
    background: #FFFFFF;
    padding: 94px 0;
}

.main__filter__box {
    margin-bottom: 34px;
}

/*Фільтр*/
.main__filter__list {
    display: flex;
    justify-content: center;
    padding-bottom: 16px;
    gap: 8px;
}

.main__filter__list__item {
    display: flex;
    align-items: flex-start;
}

.main__filter__button {
    padding: 6px 22px;
    background:
        linear-gradient(
            #F5F4FA,
            #a9a9ad);
    border: 0;
    border-radius: 4px;
    font-family: inherit;
    font-style: normal;
    /*font-weight: 500;*/
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    cursor: pointer;
}

.main__filter__button:focus {
    background: #188ce8;
    color: #FFFFFF;
}

.main__filter__button:active {
    background:
        linear-gradient(
            #2196F3,
            #104970);
    box-shadow:
            0 4px 4px rgba(0, 0, 0, 0.15),
        inset 4px 4px 4px rgba(0, 0, 0, 0.15),
        inset -4px 4px 4px rgba(0, 0, 0, 0.15),
        inset 4px -4px 4px rgba(0, 0, 0, 0.15),
        inset -4px -4px 4px rgba(0, 0, 0, 0.15);
    text-shadow:
            4px 4px 4px rgba(0, 0, 0, 0.15),
            -4px 4px 4px rgba(0, 0, 0, 0.15),
            4px -4px 4px rgba(0, 0, 0, 0.15),
            -4px -4px 4px rgba(0, 0, 0, 0.15);
    color: #FFFFFF;
}

/*Постери*/
.main__poster__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    margin: 0;
}

.main__poster__list__item {
    max-width: 370px;
    background: #FFFFFF;
    /*border: 1px solid #EEEEEE;*/
    border-bottom: 1px solid #EEEEEE;
    cursor: pointer;
    transition: all 0.5s;
}

.main__poster__list__item:hover {
    transform: scale(1.1);
}

.main__poster__list__item__image {
    display: block;
    width: 100%;
}

.main__poster__list__item__text {
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    padding: 20px 23px 19px;
}

.main__poster__list__item__name {
    margin: 0 0 4px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: #212121;
}

.main__poster__list__item__category {
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: #757575;
}

/*Підвал*/
.footer__content {
    background: #2F303A;
}

.footer__box {
    display: flex;
    height: 252px;
    align-items: center;
    justify-content: space-between;
}

.footer__contact,
.footer__address {
    display: block;
}

.footer__logo {
    margin: 0 0 20px;
}

.header__navigation__logo.footer__logo {
    display: inline-block;
    color: #FFFFFF;
}

.header__navigation__logo.footer__logo:hover {
    transform: scale(1.3);
}

.footer__contact__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer__contact__list__item {
    display: flex;
    /*align-items: flex-start;*/
    justify-content: flex-start;
}

.footer__contact__list__item +
.footer__contact__list__item {
    margin-top: 9px;
}

.footer__address__link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.footer__address__link:focus {
    color: #188ce8;
}

.footer__address__link:hover {
    color: #2196F3;
}

.header__email.footer__email,
.header__telephone.footer__telephone {
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.header__email.footer__email:focus,
.header__telephone.footer__telephone:focus {
    font-weight: bold;
    color: #188ce8;
}

.header__email.footer__email:hover,
.header__telephone.footer__telephone:hover {
    font-weight: bold;
    color: #2196F3;
}

@media  {
    
}